@import "jquery.ui.min.css";

/*
@import "base.css";
*/
@import "common.css";

@import "list.css";

@import "scroll.css";
body{
	padding:10px;
}
.collection-act{
	float:right;
}
.collection-act div{
	float:left;
	padding-right:12px;
	position:relative;
}
.collection-tit{
	height:36px;
}
.search-zone{
	width:320px;
	float:left;
	padding-left:
}
ul{
	margin:0;padding:0;
}
.dis-list-type .td2{
	padding-left:12px;
	width:340px;
}
.dis-list-type .td3{
	color:#8b8b8b;
}
.dis-list-type .td3,.dis-list-type .td5,.dis-list-type .td6{
	padding-top:30px;
	line-height:40px;
	color:#8b8b8b;
	float:left;
}
.dis-list-type .tit .td3,.dis-list-type .tit .td5,.dis-list-type .tit .td6{
	padding-top:0;
	height:28px;
	line-height:28px;
	color:#515151;
}
.dis-list-type .td5{
	width:120px;
}
.dis-list-type a{
	font-size:12px;
	font-weight:bold;
	color:#515151;
}
.empty{
	height:60px;
	line-height:60px;
	text-align:center
}
.search-key{
	padding:6px;
	clear:both;
}
.search-key span{
	color:#f00;
}
.search-input-length{
	outline:none;
	width:280px;
}